*.foreground: #ebdbb2
*.background: #282828
*.cursorColor: #fbf1c7

! black 235 245
*.color0: #282828
*.color8: #928374

! red 124 167
*.color1: #cc241d
*.color9: #fb4934

! green 106 142
*.color2: #98971a
*.color10: #b8bb26

! yellow 172 214
*.color3: #d79921
*.color11: #fabd2f

! blue 66 109
*.color4: #458588
*.color12: #83a598

! magenta 132 175
*.color5: #b16286
*.color13: #d3869b

! cyan 72 108
*.color6: #698d6a
*.color14: #8ec07c

! white 246 223
*.color7: #a89984
*.color15: #ebdbb2


URxvt*font: xft:DejaVuSansMono:size=14:antialias=true
URxvt*borderLess: false
URxvt*externalBorder: 0
URxvt*internalBorder: 4
URxvt*scrollBar: false
URxvt*saveLines: 5000
